manifest {
  description = 'Covidestim pipeline implemented w Nextflow'
  author = 'Marcus Russi'
  nextflowVersion = '>=20.07.0'
}

timeline.enabled = true
report.enabled   = true
trace.enabled    = true

profiles {
  states {
    params.time = ["75m", "75m", "80m", "80m", "2h"]
  }

  statesunlimited {
    params.time = ["12h"]
  }

  counties {
    params.time = ["40m", "50m", "2h"]
  }

  local {
    params.outdir  = "results"
    params.s3pub   = false
    timeline.file  = "$params.outdir/timeline.html"
    report.file    = "$params.outdir/report.html"
    trace.file     = "$params.outdir/trace.txt"
    docker.enabled = true

    params.webdir       = "s3://covidestim/"
    params.s3pub        = true
  }

  slurm {
    params.outdir       = "results"
    timeline.file       = "$params.outdir/timeline.html"
    report.file         = "$params.outdir/report.html"
    trace.file          = "$params.outdir/trace.txt"
    singularity.enabled = true
    process.executor    = 'slurm'

    params.webdir       = "s3://covidestim/"
    params.s3pub        = true
  }

  farnam {
    clusterOptions = "-A covid -p covid"
  }

  amazon {
    params.outdir = "s3://nf-test-results/results/"
    params.webdir = "s3://covidestim/"
    params.s3pub  = true

    timeline.file = "$params.outdir/timeline.html"
    report.file   = "$params.outdir/report.html"
    trace.file    = "$params.outdir/trace.txt"

    aws {
      maxConnections   = 30
      uploadMaxThreads = 4
      batch {
        maxParallelTransfers = 100
      }
    }
  }
}
