manifest {
  description = 'Proof of concept of the covidestim pipeline implemented w Nextflow'
  author = 'Marcus Russi'
  nextflowVersion = '>=20.07.0'
}

profiles {
  dockerTest {
    docker.enabled = true
  }

  singularityTest {
    singularity.enabled = true
  }

  grace {
    process.executor = "slurm"
    singularity.enabled = true
  }
}
