manifest {
  description = 'Covidestim pipeline implemented w Nextflow'
  author = 'Marcus Russi'
  nextflowVersion = '>=20.07.0'
}

timeline.enabled = true
report.enabled   = true
trace.enabled    = true

profiles {
  local {
    params.outdir  = "results"
    timeline.file = "$params.outdir/timeline.html"
    report.file   = "$params.outdir/report.html"
    trace.file    = "$params.outdir/trace.txt"
    docker.enabled = true
  }

  ycrc {
    params.outdir       = "results"
    timeline.file = "$params.outdir/timeline.html"
    report.file   = "$params.outdir/report.html"
    trace.file    = "$params.outdir/trace.txt"
    singularity.enabled = true
    process.executor    = 'slurm'
  }

  amazon {
    params.outdir = "s3://nf-test-results/results/"
    timeline.file = "$params.outdir/timeline.html"
    report.file   = "$params.outdir/report.html"
    trace.file    = "$params.outdir/trace.txt"
    aws {
      maxConnections   = 30
      uploadMaxThreads = 4
    }
  }
}
